@page
@model Smart_E.Areas.Identity.Pages.IndexModel
@{
    ViewData["Title"] = "Upload File";
}

<h1>Upload File</h1>

<p>
    <a asp-page="Create">Create Submission</a>
    <a asp-action="ManageUsers">Update User</a>
    <a asp-action="DeleteUsers">Delete User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uploads[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uploads[0].SubmissionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uploads[0].Name)
            </th>
            <th>
                Upload
            </th>
            <th>
                Download
            </th>
            <th>
                Delete Attachment
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Uploads)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="Upload" asp-route-id="@item.Id">Upload File</a>
                </td>
                <td>
                    <form asp-page-handler="Download" method="post" asp-route-id="@item.Id">
                        <input type="submit" class="btn btn-warning" value="Download">
                    </form>
                </td>
                 <td>
                    @if(item.Attachment != null)
                    {
                        <form asp-page-handler="Delete" method="post" asp-route-id="@item.Id">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
