@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Smart_E.Data

<!DOCTYPE html>
<html dir="ltr" lang="en">

@inject UserManager<ApplicationUser> UserManager 
@model Smart_E.Models.AdministrationViewModels.ProfileViewModel

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";


    var user = await UserManager.GetUserAsync(User);
}
<head>
    <link href="~/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/assets/libs/footable/css/footable.core.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/libs/select2/dist/css/select2.min.css">
    <link href="~/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css"> 
</head>

<body>

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>


<div class="container-fluid">

<div class="row ">
    <!-- Column -->
    <div class="col-lg-12 col-md-12">

        <div class="card-body">
            <div class="m-t-30" style="text-align: center;">

               @* @if (user.ProfileImageId != Guid.Empty)
                {
                    <img src="@Url.Action("ProfilePicture","Profile",new{Id = user.ProfileImageId})" onclick="uploadProfilePicture()" class="rounded-circle" style="cursor: pointer;" width="150" />
                }
                else
                {*@

                    <img src="~/images/users/unknown.png" onclick="uploadProfilePicture()" class="rounded-circle" style="cursor: pointer;" width="150" />
                            
                @*}*@

               <h4 class="card-title m-t-10">@Model.FirstName @Model.Surname</h4>
               
               @if (@Model.Role == "Student")
               {
                   <div class="form-group m-b-0 m-t-10">
                       <div class="col-sm-12 text-center">
                           @Model.Role <button type="button" onclick="showLinkToParentModal();" style="margin-left: 5px;" class="btn btn-sm btn-success float-lg-right">Link To Parent</button>
                       </div>
                   </div>
                   
                   
               }
               else
               {
                   <h5 class="card-title m-t-10">@Model.Role</h5>
               }


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @* <div class="card">*@
        <!-- Tabs -->
        <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-timeline-tab" data-toggle="pill" href="#current-month" role="tab" aria-controls="pills-timeline" aria-selected="true">Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="athlete-tab" data-toggle="pill" href="#athlete-tab-content" role="tab" aria-controls="pills-timeline" aria-selected="true">Profile </a>
            </li>

        </ul>
        <!-- Tabs -->

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="current-month" role="tabpanel" aria-labelledby="pills-timeline-tab">
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card-title">Personal Information</h4>
                                    <div class="form-group row">
                                        <label for="txtFirstName" class="col-sm-3 text-right control-label col-form-label">First Name</label>
                                        <div class="col-sm-9">
                                             <input type="text" class="form-control" id="txtFirstName" placeholder="First Name" value="@Model.FirstName">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtSurname" class="col-sm-3 text-right control-label col-form-label">Last Name</label>
                                        <div class="col-sm-9">
                                             <input type="text" class="form-control" id="txtSurname" placeholder="Last Name" value="@Model.Surname">
                                        </div>
                                    </div>
                                    <div class="form-group row" >
                                        <label for="cbGender" class="col-sm-3 text-right control-label col-form-label">Gender</label>
                                        <div class="col-sm-9">
                                            <select class="custom-select form-control required" id="cbGender" >
                                                <option value="Female">Female</option>
                                                <option value="Male">Male</option>
                                            </select>
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtDateOfBirth" class="col-sm-3 text-right control-label col-form-label">Date Of Birth</label>
                                        <div class="col-sm-9">
                                            <input asp-for="DateOfBirth" type="text" readonly="readonly" class="form-control" id="txtDateOfBirth" placeholder="Date of Birth">
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-6">
                                    <h4 class="card-title">Contact Information</h4>

                                    <div class="form-group row">
                                        <label for="txtEmail" class="col-sm-3 text-right control-label col-form-label">Email</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Email" type="email" class="form-control" id="txtEmail" placeholder="Email">
                                                </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtPhoneNumber" class="col-sm-3 text-right control-label col-form-label">Phone Number</label>
                                        <div class="col-sm-9">
                                                                                                <input asp-for="PhoneNumber" type="text" class="form-control" id="txtPhoneNumber" placeholder="Phone Number">
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="card-body">
                            <div class="form-group m-b-0 text-right">
                                <button type="button" onclick="javascript:showChangePasswordModal();" class="btn btn-outline-danger waves-effect waves-light float-lg-left">Change Password</button>

                                <button type="button" onclick="javascript:updateProfile();" class="btn btn-outline-info waves-effect waves-light">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="athlete-tab-content" role="tabpanel" aria-labelledby="athlete-tab">
                <div class="card-body">
                    <div class="row">


                        <div class="col-6">
                            <h3>School Information</h3>
                            <div class="card-body">

                                <form>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-right control-label col-form-label" for="cbProvince">Province</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="cbProvince" onchange="javascript:provinceChanged();" style="width: 100%;" type="text" id="cbProvince">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 text-right control-label col-form-label" for="cbSchool">School</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="cbSchool" style="width: 100%;" type="text" id="cbSchool"></select>
                                        </div>
                                    </div>
                                    <div class="form-group row ">

                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">

                                            <div class="custom-control custom-checkbox float-right">
                                                <input type="checkbox" class="custom-control-input" id="cbEditDisability">
                                                <label class="custom-control-label" for="cbEditDisability">Disability</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-6">
                            <h3>Address Information</h3>
                            <div class="card-body">

                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label" for="txtAddressLine1">Address Line 1</label>
                                    <div class="col-sm-9">
                                        <input autocomplete="off" class="form-control" name="txtAddressLine1" placeholder="Address Line 1" type="text" id="txtAddressLine1" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label" for="txtAddressLine2">Address Line 2</label>
                                    <div class="col-sm-9">
                                        <input autocomplete="off" class="form-control" name="txtAddressLine3" placeholder="Address Line 2" type="text" id="txtAddressLine2" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label" for="txtAddressLine3">Address Line 3</label>
                                    <div class="col-sm-9">
                                        <input autocomplete="off" class="form-control" name="txtAddressLine3" placeholder="Address Line 3" type="text" id="txtAddressLine3" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label" for="txtPostalCode">Postal Code</label>
                                    <div class="col-sm-9">
                                        <input autocomplete="off" class="form-control" name="txtPostalCode" placeholder="Postal Code" type="text" id="txtPostalCode" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group m-b-0 text-right">
                                        

                            <button type="button" onclick="javascript:updateAddress();" class="btn btn-outline-info waves-effect waves-light">Save</button>
                        </div>
                    </div>
                </div>

            </div>

     
        </div>
    </div>

</div>

<div id="linkParentModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Enter Parent's Email</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="txtEmail" class="control-label">Email</label>
                            <input type="text" class="form-control" id="txtEmail" style="width: 100%"/>
                        </div>

                     
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Cancel</button>
                    <button type="button" id="BtnCreateServiceNote" onclick="sendEmail()" class="btn btn-outline-danger waves-effect waves-light">Send</button>
                </div>
                <input type="text" class="form-control" id="txtCourseId" style="width: 100%"/>
            </div>
        </div>
    </div>



<div class="modal fade" id="uploadImageModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-8">
                    <h4 class="modal-title">Upload Image</h4>
                </div>
                <div class="col-md-4">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body"
                 asp-route-userId="@Model.UserId">
                <form asp-action="UploadProfileImage" asp-controller="Profile" 
                      
                      id="dropArea" class="dropzone">
                        <div class="fallback">
                            <input name="file" type="file" />
                        </div>
                    </form>
            </div>
            <div class="modal-footer">
                <div class="form-button">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="changePasswordModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <form action="javascript:submitResetPassword()" name="changePasswordForm">
                        <input hidden="hidden" class="form-control" name="userId" id="userId" />
                        <div class="form-group row">
                            <label class="text-right control-label" for="txtNewPassword">Old Password</label>

                            <input autocomplete="off" required="required" class="form-control" name="oldPassword" type="password" id="txtOldPassword" />
                        </div>

                        <div class="form-group row">
                            <label class="text-right control-label" for="txtNewPassword">New Password</label>

                            <input autocomplete="off" required="required" class="form-control" name="newPassword" type="password" id="txtNewPassword" />
                        </div>
                        <div class="form-group row">
                            <label class=" text-left control-label " for="txtConfirmPassword">Confirm Password</label>

                            <input autocomplete="off" required="required" class="form-control" name="confirmPassword" type="password" id="txtConfirmPassword" />

                            <span id="txtConfirmError" hidden="hidden">Both passwords must match to continue</span>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info waves-effect float-lg-right" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="javascript:changePassword();" id="btnSaveExpense" class="btn btn-outline-danger waves-effect waves-light  float-lg-right">Change</button>
            </div>


        </div>
    </div>
</div>
</div>
<div>
    
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

    <script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.js"></script>

    <script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>

    <script src="~/assets/libs/select2/dist/js/select2.full.min.js"></script>

    <script src="~/assets/libs/select2/dist/js/select2.min.js"></script>

    <script src="~/dist/js/pages/forms/select2/select2.init.js"></script>

    <script src="~/dist/js/custom.js"></script>

    <script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>

    <script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/assets/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <script src="~/assets/libs/sweetalert2/sweet-alert.init.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js"></script>

    <script src="~/assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

    <script src="~/assets/libs/moment/moment.js"></script>

    <script src="~/assets/libs/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker-custom.js"></script>
</div>

<script>
    function showLinkToParentModal() {
        $('#linkParentModal').modal('show');
    }    
    function uploadProfilePicture() {
        $('#uploadImageModal').modal('show');
    }

    function updateProfile() {
        var model = {
            id: '@Model.UserId',
            firstName: $('#txtFirstName').val(),
            surname: $('#txtSurname').val(),
            phoneNumber: $('#txtPhoneNumber').val(),
            gender: $('#cbGender').val(),
            
        }

        $.ajax({
            url: '@Url.Action("UpdateUserInformation", "Profile")',
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(model),
            success: function(result) {

                toastr.success('Profile Updated', 'Success');

            },
            error: function(jqXHR, exception) {

                $('#resetPasswordModal').modal('hide');

                swal({
                    title: "ERROR",
                    text: "Something went wrong if the problem persists please contact your system administrator - " + JSON.stringify(jqXHR) ,
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "OK"
                });
            }
        });
        </script>
        
        
</body>


</html>